/* You can add global styles to this file, and also import other style files */


/*
Font requirement -- A sturdy, authoritative font that blends with a neat, solid textured, concept of cleanliness and order
Invoking user'd trust in the system's seeming association with non garbage environments - airy.

Josefin Slab is used for content text and informative snippets.

Josefin Sans is used for larger text, eg. headings, tab text, button text and headings.
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p, a, li, span, {
    font-family: 'Josefin Slab', serif;
}

/*
Responsive style loading
*/

@import './styles/laptop';
@import './styles/mobile';
@import './styles/tablet';

body {
    margin: 0;
    padding: 0;
}

